@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg-main: #FAFAFA;
  --color-coral: #FF7F50;
  --color-text-main: #2b2b2b;

  /* Typography */
  --font-body: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main font-body antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-display text-text-main;
  }
}

@layer components {
  .section-heading {
    @apply relative pb-3 text-[22px] font-semibold w-fit;
  }

  .section-heading::after {
    content: '';
    @apply absolute left-0 bottom-0 h-[2px] w-[40px] bg-coral rounded-full;
  }
}